#hero {
    background-image: url(./Images/resin.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #2f556c;
    
}

#butterfly {
    border-radius: 50%;
}

.parent {
    display: grid;
    grid-template-rows: 300px 400px;
    grid-template-columns: 300px 400px;
    row-gap: 0;
    column-gap: 0;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#footer {
    background-color: #89A3B2;
}

h2 {
    text-align: center;
   
}

#button {
    background-color: #89A3B2;
    color: #2f556c;
}

p {
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

#Intro {
    color: #89A3B2;
}

#Hobbies {
    color: #89A3B2;
}

#contact {
     color: #89A3B2;
}

